.content::-webkit-scrollbar {
    width: 0;
}

.bottom{
    &__info{
        
        p {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
          }
    }
}
